{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [ ">0.25%", "not ie 11", "not op_mini all"]
      }
    }],
    "react",
    "stage-2"
  ],
  "env": {
    "test": {
      "plugins": [
        [ "babel-plugin-webpack-alias", { "config": "./webpack.config.js" } ]
      ]
    }
  }
}
