@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.eot");
  src: url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.woff2") format("woff2"), url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.woff") format("woff"), url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.ttf") format("truetype"), url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.svg#SFUIDisplay-Regular") format("svg"), url("./assets/fonts/SFUIDisplay/regular/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
