$holi-color: #642d90;
$holi-color-hover: darken($holi-color, 10%);
$white: #FFF;
$grey: #b9afaf;
$error: #a53f67;
$cyan: cyan;

// website colors
$table-head-color: #94a9b3;
$table-head-font: 12pt 'SFUIDisplay-Medium';
$table-body-color: #1d4d42;
$table-body-font: 10pt 'SFUIDisplay-Medium';
$table-suborder-font-size: 10pt;
$table-col-background: #f9f9f9;

$page-title-font: 27pt 'SFUIDisplay-Semibold';
$page-title-color: #3bcbab;
$page-subtitle-color: #94a9b3;

$icon-btn-font: 13pt 'SFUIDisplay-Regular';
$icon-in-active-color: #94a9b3;
$icon-active-color: 3bcbab;

$activity-font: 14pt 'SFUIDisplay-Regular';
$activity-font-color: #f4f8f9;

$notes-date-font: 14pt 'SFUIDisplay-Medium';
$notes-date-font-color: #8e8e93;

$search-bar-font: 14pt 'SFUIDisplay-Regular';
$search-bar-font-color: #94a9be;
$search-bar-close-font-color: #ffffff;

$sort-search-type-in-active-font: 14pt 'SFUIDisplay-Medium';
$sort-search-type-in-active-font-color: #94a9be;
$sort-search-type-active-font: 14pt 'SFUIDisplay-Medium';
$sort-search-type-active-font-color: #ffffff;

$navbar-background: #ffffff;
$body-background-color: #f1f1f1;
$sort-button-background: #ffffff;

$titlebar-background: #3bcbab;
$icon-active-color: #3bcbab;
$button-toggle-color: #3bcbab;
$btn-group-border: 1px solid #ccc;
