option_settings:
  aws:ec2:vpc:
    VPCId: vpc-00ac65d2f4af59e85
    Subnets: subnet-0c4c1b15fe34e5736 # Private Subnet(AZ eu-west-1c)
    ELBSubnets: subnet-0a54ef874ba55a995 # Public Subnet(AZ eu-west-1c)
    ELBScheme: public
  aws:elb:loadbalancer:
    CrossZone: true
    SecurityGroups: sg-00877c9995f995596 # Beanstalk Load Balancer
    ManagedSecurityGroup: sg-00877c9995f995596 # Beanstalk Load Balancer
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    SecurityGroups: sg-0cc666573ec7b1a8a # Beanstalk EC2
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start"
    NodeVersion: 8.11.1
    ProxyServer: nginx
    GzipCompression: true
