option_settings:
  aws:elb:policies:
    ConnectionDrainingEnabled: true
    ConnectionDrainingTimeout: 20
    ConnectionSettingIdleTimeout: 60
    LoadBalancerPorts: 443
    Stickiness Cookie Expiration: 900
    Stickiness Policy: true
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstancePort: 80
    InstanceProtocol: HTTP
    SSLCertificateId: arn:aws:acm:eu-west-1:757201713280:certificate/7fcc3262-b790-427f-8b36-1d2a82a92895
    ListenerEnabled: true
