option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: 1
    Timeout: "1200"
  aws:autoscaling:updatepolicy:rollingupdate:
    MaxBatchSize: 5
    MinInstancesInService: 1
    RollingUpdateType: Health
    RollingUpdateEnabled: true
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: Sat:02:00
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: patch
  # aws:elasticbeanstalk:sns:topics:
  #   Notification Endpoint: "david.bowe@eightysix.ie"
