@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.eot");
  src: url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.woff2") format("woff2"), url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.woff") format("woff"), url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.ttf") format("truetype"), url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.svg#SFUIDisplay-Medium") format("svg"), url("./assets/fonts/SFUIDisplay/medium/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
