.btn-overdue-done,
.btn-overdue-undo {
  color: #ffffff !important;
  width: 100%;
  height: 100%;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-overdue-undo {
  background-color: $icon-in-active-color !important;

  &:hover,
  &:active,
  &:focus {
    background-color: $icon-in-active-color !important;
  }
}

.btn-overdue-done {
  background-color: $icon-active-color !important;

  &:hover,
  &:active,
  &:focus {
    background-color: $icon-active-color !important;
  }
}

.activity-button .rt-tbody .rt-td:last-child{
 padding: 0px;
}
