.header-btn {
  padding-top: 5px;
}

.navbar-default .header-btn .btn-link {
  color: #fff;
}

.pad-left-menu-item {
  padding-left: 10px;
}

.pad-right-menu-item {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.left-align {
  float: left;
  text-align: left;
}

.right-align {
  float: right;
  text-align: right;
}

.navbar-title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-shadow: none;
}

.navbar-code {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
