.search-panel-remove-btn {
  text-align: right;
  position: absolute !important;
  right: 10px;
  color: #fff;
  margin: 20px;
  cursor: pointer;
}

.search-panel-clear-btn {
  text-align: left;
  float: left;
  left: 10px;
  color: #fff;
  margin: 20px;
  cursor: pointer;
}

.search-panel-form {
  margin-top: 60px;
}

.search-form-text-box {
  box-shadow: none;
  background-color: #fff !important;
}

.search-form-button {
  background-color: #fff;
  color: #7d7d7d;
}
