@font-face {
  font-family: 'SFUIDisplay-Semibold';
  src: url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.eot');
  src: url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.woff2')
      format('woff2'),
    url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.woff')
      format('woff'),
    url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.ttf')
      format('truetype'),
    url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold')
      format('svg'),
    url('./assets/fonts/SFUIDisplay/semibold/SFUIDisplay-Semibold.eot?#iefix')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
